<ion-view cache-view="false">

    <ion-nav-title style="margin-top: 10px;">
    <center style="margin-top:10px;">Recharge Type</center>
    </ion-nav-title>
    <ion-nav-buttons side="left">
        <button ng-click="go_back()" class="button back-button buttons button-clear header-item">
          <i class="icon ion-android-arrow-back"></i>
        </button>
      </ion-nav-buttons>
  <ion-content  scroll="true" padding="true" class="has-header has-footer" style="margin-top:25px;">
      

      




  </ion-content>      

</ion-view>

