<ion-modal-view style="transform:none !important;">
  <ion-header-bar style="background-color:#444444; border-bottom:none;">
    <div class="buttons">
          <button class="button back-button buttons button-clear header-item" style="margin-top:5px; color:white" ng-click="close_change_user_password()">
            <i class="icon ion-android-arrow-back"></i>
          </button>
    </div>

      <div class="title light" style="text-align: center; margin-top:5px;">Change User Password</div>    
  </ion-header-bar >


  
  <ion-content overflow-scroll-y="true" padding="true" class="has-header padding-top has-footer" style="margin-top: 2%; padding:10px"> 
    <div class="list">
      
      <label class="item item-input item-floating-label">
        <span class="input-label">Current Password</span>
        <input type="password" ng-model="new_password.current" placeholder="Current Password">
      </label>

      <label class="item item-input item-floating-label">
        <span class="input-label">New Password</span>
        <input type="password" ng-model="new_password.pass1" placeholder="New Password">
      </label>
      <!-- style="border-bottom: 3px solid red;" -->
      <!-- style="border-bottom: 3px solid green;" -->
      
      <label class="item item-input item-floating-label" id="confirm_pass">
        <span class="input-label">Confirm</span>
        <input type="password" ng-model="new_password.pass2" ng-change="focus_kiya()" placeholder="Confirm">
      </label>
    </div>

<button class="button button-block button-positive" ng-disabled="new_password.pass1!=new_password.pass2"  ng-click="submit_new_password()">Submit</button>
<!-- <div style="color: red; float: left; padding: 2%;">{{pass_error}}</div>
 -->

  </ion-content>
 <!-- <ion-footer-bar class="bar bar-dark" ng-show="(new_password.current.length>0 || new_password.pass1.length>0 || new_password.pass2.length>0) && (new_password.pass1!=undefined && new_password.pass2!=undefined && new_password.current!=undefined)" >
      <div class="button-bar">
        <button class="button button-dark" ng-disabled="new_password.pass1!=new_password.pass2" ng-click="submit_new_password()">Submit</button>
      </div>
  </ion-footer-bar>-->

</ion-modal-view>
