<ion-modal-view>
		

  <ion-header-bar>
    <div class="buttons">
      <button class="button back-button buttons button-clear header-item button-dark" ng-click="close_change_user_password()">
        <i class="icon ion-android-arrow-back"></i>
      </button>
    </div>

    <div class="title">Change Password</div>
  </ion-header-bar>



  <ion-content overflow-scroll-y="true" padding="true" class="has-header padding-top has-footer" style="margin-top: 2%;"> 
      
  
  

<div class="list">
  <label class="item item-input item-floating-label">
    <span class="input-label">New Password</span>
    <input type="password" ng-model="new_password.pass1" placeholder="New Password">
  </label>

  <label class="item item-input item-floating-label">
    <span class="input-label">retype</span>
    <input type="password" ng-model="new_password.pass2" placeholder="retype">
  </label>
</div>

<div style="color: red; float: left; padding: 2%;">{{'Your password must contain at least a number, a character and a special character'}}</div>


  </ion-content>
  <ion-footer-bar class="bar bar-dark" ng-show="(new_password.pass1.length>0 || new_password.pass2.length>0) && (new_password.pass1!=undefined && new_password.pass2!=undefined)" >
      <div class="button-bar">
        <button class="button button-clear" ng-disabled="new_password.pass1!=new_password.pass2" ng-click="submit_new_password()">Submit</button>
        <div class="button button-assertive" ng-if="new_password.pass1!=new_password.pass2 && (new_password.pass1!='' || new_password.pass2!='')">{{'password does not match'}}</div>
      </div>
  </ion-footer-bar>

</ion-modal-view>
