<ion-modal-view style="transform:none !important;">
  <ion-header-bar style="background-color:#cd3333; border-bottom:none;">
    <div class="buttons">
          <button class="button back-button buttons button-clear header-item" style="margin-top:5px; color:white" ng-click="close_syc_model()">
            <i class="icon ion-android-arrow-back"></i>
          </button>
    </div>
    
      <div class="title light" style="text-align: center; margin-top:5px;">Request KYC</div>    
  </ion-header-bar >
  <ion-content class="has-header padding-top" style="margin-top: 0%">
         <div class="list">
          
          <label class="item item-input item-floating-label">
            <span class="input-label">Business Name</span>
            <input type="text" placeholder="Business Name" ng-model="kyc_request.company_name">
          </label>

          <label class="item item-input item-floating-label">
            <span class="input-label">Contact</span>
            <input type="text" placeholder="Contact" ng-model="kyc_request.contact_no">
          </label>

          <label class="item item-input item-floating-label">
            <span class="input-label">Communication Address</span>
            <input type="text" placeholder="Communication Address" ng-model="kyc_request.communication_address">
          </label>
        </div>
  </ion-content>

  <ion-footer-bar class="bar bar-dark">
      <div class="button-bar">
        <button class="button button-clear" ng-disabled="(kyc_request.company_name==undefined || kyc_request.company_name.length==0) || (kyc_request.contact_no==undefined || kyc_request.contact_no.length!=10) || (kyc_request.communication_address==undefined || kyc_request.communication_address.length==0)" ng-click="submit_request_for_kyc()">Submit</button>
       </div>
  </ion-footer-bar>


</ion-modal-view>
