<ion-view style=" background-image:url(img/image.jpg); background-size:cover ; background-position:center; background-repeat:no-repeat" view-title="Dashboard">
  <ion-content style=" display:absolute; width:100vw; background-color:rgba(255,255,255,0.1)" scroll="false">



   <div style="width:95vw; margin:0 auto; padding:10px; border-radius:5px; border:1px solid #ddd; margin-top:50%; transform:translate(0,-20%); background-color:rgba(255,255,255,0.7)">
	<div style="height:100px; width:250px; margin:0 auto; margin-top:50px; margin-bottom:100px; background-image:url('img/logo.png'); background-position:center; background-size:contain; background-repeat:no-repeat;"></div>
   
	
      	
        <button class="button button-block button button-positive" style="background-color:#f4c842;" ng-click="open_login_page()">
          Login
        </button>
        <button class="button button-block button button-energized" style="background-color:#36245b" ng-click="open_signup_page()">
            Sign up
        </button>
</div>
   
  </ion-content>
</ion-view>
