<ion-view cache-view="false">

    <ion-nav-title style="margin-top: 10px;">
    <center style="margin-top:10px;">Landline bill</center>
    </ion-nav-title>
    <ion-nav-buttons side="left">
        <button ng-click="go_back()" class="button back-button buttons button-clear header-item">
          <i class="icon ion-android-arrow-back"></i>
        </button>
      </ion-nav-buttons>
  <ion-content  scroll="true" padding="true" class="has-header has-footer" style="margin-top:25px;">
      

	<div style="width:95vw; margin:0 auto;" ng-show="id==1">
	 <div style="display:inline-block; width:48%;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="radio" style=" vertical-align:middle"  name="selecttype" ng-model="selected.value" ng-value="1" ng-click="selectType(1);">&nbsp;&nbsp;&nbsp;Prepaid</div>
	<div style="display:inline-block; width:48%; vertical-align:middle;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="radio" style=" vertical-align:middle" ng-model="selected.value" name="selecttype" ng-value="2" ng-click="selectType(2);" >&nbsp;&nbsp;&nbsp;Postpaid</div>
	</div>
	<br>


      <div class = "list">
       

       <label class = "item item-input">
          <input type = "tel" ng-model="recharge_details.mobile_no" placeholder = "Landline no" />
       </label>
  
         <label class = "item item-input">
          <input type = "tel" ng-model="recharge_details.recharge_amount" placeholder = "Enter Amount" />
       </label>
       <label class = "item item-input">
          <input type = "tel" ng-model="recharge_details.customer_account_no" placeholder = "Customer Account no" />
       </label>


	</div>
          <select style="height:40px; background-color:white; width:100%; border:1px solid #ddd; border-radius:5px" ng-init="temp.company_name = '-1'" ng-model="temp.company_name" ng-change="selected_operator()">
                    <option value="-1" >Select Operator</option>
                    <option ng-repeat="v in service_provider_data" ng-value="v.OperatorCode">{{v.OperatorName}}</option>
          </select>

          <select style="height:40px; background-color:white; width:100%; border:1px solid #ddd; border-radius:5px" ng-init="circle_selected_data.circle_name = '-1'" ng-model="circle_selected_data.circle_name" ng-change="circle_selected()">
                    <option value="-1" >Selected State</option>
                    <option ng-repeat="v in circle_data" ng-value="v.CircleCode">{{v.CircleName}}</option>
          </select>
    

<button class="button button-positive button-block" ng-click="recharge_now()">Proceed</button>

        <!-- <ion-radio ng-repeat="data in service_provider_data"
                        ng-model=data1.serverSide
                         ng-value=data.OperatorID
                         ng-change="selected_operator(data.OperatorCode)">
          {{data.OperatorName}}
    </ion-radio> -->
    
    
  </ion-content>


</ion-view>

