<ion-modal-view id="hide_me">
  <ion-header-bar>
    <h1 class="title">Login</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeLogin()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content class="has-header padding-top">
    
    
      <div class="list">
        <label class="item item-input">
          <span class="input-label">Username</span>
          <input type="text" ng-model="loginData.email">
        </label>
        <label class="item item-input">
          <span class="input-label">Password</span>
          <input type="password" ng-model="loginData.password">
        </label>

        
      </div>

  </ion-content>

  
      <ion-footer-bar class="bar bar-dark">
        <div class="button-bar">
          <button class="button button-clear" ng-click="doLogin()" >Log in</button>
        <!-- open_date_picker(); -->
       </div>
      </ion-footer-bar>


</ion-modal-view>
