<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content drag-content="false">
    <ion-nav-bar class="bar-dark header-shadow" nav-transition="android" style="height:100px !important; background-color:black !important;">
      <ion-nav-back-button class="button-icon button-clear icon ion-ios7-arrow-back">
      </ion-nav-back-button>

      <ion-nav-buttons side="left" style="margin-top:10px;">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
      <ion-nav-view class="slide-left-right" name="menuContent" animation="slide-left-right"></ion-nav-view>
  </ion-side-menu-content>
  <ion-side-menu side="left" style="background-color:#444444">
     <header class="bar bar-header bar-dark" style="height:100px; border:none;">
      <div style="height:100px; display:inline-block; width:50%; padding:20px; 	boder:1px solid white;float:left; "><div style="height:100%; width:100%; background-image:url('img/icon.png'); background-position:right; background-size:contain; background-repeat:no-repeat"></div></div><div style="height:100px; display:flex;     justify-content: space-between;
    align-items: center; width:50%; boder:1px solid white;float:right;"><div>{{usrname}}<br>{{mobile}}</div></div>
    </header>
    <ion-content class="has-header" style="margin-top:60px">
      <ion-list style="font-style: oblique;">
        <ion-item class="item-icon-left item-dark" style="border:1px solid rgba(255,255,255,0.4);" menu-close ng-click="openSomething('app.recharge',1)">
          <i class="icon ion-android-phone-portrait" style="font-size: 150%;" ></i>
          Mobile Recharge
        </ion-item>
        <ion-item class="item-icon-left item-dark" style="border:1px solid rgba(255,255,255,0.4);" menu-close ng-click="get_last_recharges()">
          <i class="icon ion-clipboard" style="font-size: 150%;"></i>
          Recharge History
        </ion-item>
        <ion-item class="item-icon-left item-dark" style="border:1px solid rgba(255,255,255,0.4);" menu-close ng-click="add_wallet_balance_now()">
          <i class="icon ion-cash" style="font-size: 150%;"></i>
          Add Cash
        </ion-item>
        <ion-item class="item-icon-left item-dark" style="border:1px solid rgba(255,255,255,0.4);" menu-close ng-click="open_wallet_to_wallet(0)">
          <i class="icon ion-clipboard" style="font-size: 150%;"></i>
          Fund Transfer
        </ion-item>
        <ion-item class="item-icon-left item-dark" style="border:1px solid rgba(255,255,255,0.4);" menu-close ng-click="open_ewallet_transactions()">
          <i class="icon ion-arrow-swap" style="font-size: 150%;"></i>
          Transactions
        </ion-item>

        <ion-item class="item-icon-left item-dark" style="border:1px solid rgba(255,255,255,0.4);" menu-close ng-click="change_password_open()">
          <i class="icon ion-edit" style="font-size: 150%;"></i>
          Change Password
        </ion-item>

        <ion-item  class="item-icon-left margin-left item-dark" style="border:1px solid rgba(255,255,255,0.4);" menu-close ng-click="logout()" ng-show="user_data!=''" >
          <i class="icon ion-log-out" style="font-size: 150%;"></i>
          Logout
        </ion-item>

<!--          <ion-item  class="item-icon-left margin-left" style="border-style: none;" menu-close ng-click="test()" ng-show="user_data!=''" >
          <i class="icon ion-log-out" style="font-size: 150%;"></i>
          testm
        </ion-item>
 -->        

      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
