<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content drag-content="false">
    <ion-nav-bar class="bar-assertive header-shadow" nav-transition="android" style="height:100px !important; background-color:black !important;">
      <ion-nav-back-button class="button-icon icon ion-ios7-arrow-back">
      </ion-nav-back-button>

      <ion-nav-buttons side="left" style="margin-top:10px;">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
      <ion-nav-view class="slide-left-right" name="menuContent" animation="slide-left-right"></ion-nav-view>
  </ion-side-menu-content>
  <ion-side-menu side="left">
    <ion-header-bar class="bar-light padding-bottom padding-top" style="height: 15%; background-image: url("img/back_profile.jpg"); back">
      <a class="item-thumbnail-left item-icon-right" menu-close >
            <img ng-src="img/icon.png"  alt="image">
          <div style="width: 100%; text-align: right !important; text-decoration: overline;">
            <h4 style="color: black; float: right;">{{user_data.first_name+' '+user_data.last_name}}</h4>
          </div>
      </a>
    </ion-header-bar>
    <ion-content class="has-header padding-top" style="margin-top: 17%; ">
      <ion-list style="font-style: oblique;">
        
        <ion-item no-lines class="item-icon-left margin-left" style="border-style: none;" menu-close ng-click="login()" ng-show="user_data==''">
        <i class="icon ion-log-in"></i>
         <ion-icon name="heart"></ion-icon> 
          Login
        </ion-item>
        
        
        
        <ion-item class="item-icon-left" menu-close ng-click="recent_orders()">
          <i class="icon ion-clipboard" style="font-size: 150%;"></i>         
          Recent Orders
        </ion-item>
        
        <ion-item  class="item-icon-left" style="border-style: none;" menu-close ng-click="raise_my_concern()">
          <i class="icon ion-android-drafts"  style="font-size: 150%;"></i>
          Raise Concern
        </ion-item>
        
        <ion-item class="item-icon-left" style="border-style: none;" menu-close ng-click="open_express_shipping()">
          <i class="icon ion-ios-fastforward"></i>
          Express Shipping
        </ion-item>
        <!-- ng-show="is_pass_changed_status==0" -->
        <ion-item class="item-icon-left" style="border-style: none;"  menu-close ng-click="change_password_open()">
          <i class="icon ion-edit"  style="font-size: 150%;"></i>
          Change Password
        </ion-item>

        <ion-item class="item-icon-left" style="border-style: none;" menu-close ng-click="open_address_model()">
          <i class="icon ion-plus-round" style="font-size: 150%;"></i>
          Add Address
        </ion-item>

        <ion-item  class="item-icon-left margin-left" style="border-style: none;" menu-close ng-click="logout()" ng-show="user_data!=''" >
          <i class="icon ion-log-out" style="font-size: 150%;"></i>
          Logout
        </ion-item>

      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
