<ion-modal-view style="width: 85vw; height: 10% !important; right: 5%; left: 5%; top: 25%; border-color: red; border-width: 1px; border-style: solid;">
  
        
        <div class="card">
          <div class="item item-text-wrap">
            Your Order has been placed successfully, will place your order by your order date, we hope to have you again
            <button style="float: right;" class="button button-small button-assertive">Ok</button>
          </div>
        </div>
 </ion-modal-view>