<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">selected products</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeLogin()">Close</button>
    </div>
  </ion-header-bar>
  
  <ion-content class="has-header padding-top padding-bottom" style="margin-top: 5%; margin-bottom: 15%;">
    <ion-list>
      <ion-item ng-repeat="items in selected_items">
        <div class="row">
           <div class="col col-50">
              <h3><b>{{items.product_details[0].product_name}}</b></h3>
           </div>
           
           <div class="col col-10">
             <strong><b><h4>{{items.product_details[0].quantity}}&nbsp{{items.product_details[0].unit.unit}}</h4></b></strong>
           </div>

           <div class="col col-20">
             <strong><b><h4>&8377{{items.product_details[0].quantity*items.product_details[0].unit.price}}</h4></b></strong>
           </div>
           
           

        </div>
      </ion-item>
    </ion-list>

  </ion-content>

  <ion-footer-bar class="bar bar-dark" ng-if="selected_items.length>0">
  
        <div class="button-bar">
          
          <div class="button button-assertive">&#8377;{{total}}

          </div>
        
        </div>

  </ion-footer-bar>

</ion-modal-view>
