<ion-view cache-view="false" view-title="">
	<ion-nav-title style="margin-left:25px;">
	    	  <img class="home-logo" src="img/l5.png"  style="margin-left: 35%; height: 80%; width:30vw; vertical-align: middle; margin: 0 auto; background-color:white;">
	    </ion-nav-title>

		<ion-nav-buttons side="left">
			<button ng-click="go_back()" class="button back-button buttons button-clear header-item">
				<i class="icon ion-android-arrow-back"></i>
			</button>
		</ion-nav-buttons>
  	
    <ion-content class="has-header padding-top margin-top" style="padding-top: 5%; width: 100vw;">
    
  		<ion-list>
        <ion-item ng-repeat="orders in recent_orders_data track by $index" class="item-text-wrap" ng-click="get_order_details(orders.id)" style="height:30vw;">
          
          
            <div style="text-align: right; width: 80%; float: right !important;">
               {{orders.order_status}}
            </div>
            <div style="width: 100%; height: auto;">
               <div style="float: left;">{{orders.order_date}}</div>
               <div style="float: right;">{{orders.delivery_date}}</div>
            </div>

             <div style="width: 100%; height: auto; position: absolute; bottom: 0px;" class="bar bar-dark" >
              <div class="button-bar">
                <button ng-show="orders.status==0 || orders.status==1" ng-click="" class="button button-small button-assertive">{{'View'}}</button>
                <button ng-show="orders.status==0" ng-click="fuckers()" class="button button-small button-assertive">{{'Update Order'}}</button>
                <button ng-show="orders.status==1" ng-click="open_verification_model(orders.id); $event.stopPropagation();" class="button button-small button-assertive">{{'Verify Order'}}</button>
                <button ng-show="orders.status==2" ng-click="fuckers()" class="button button-small button-assertive">{{'View Invoice'}}</button>
              </div>
             </div>

          
        </ion-item>
  		</ion-list>
  	</ion-content>
</ion-view>
