<ion-view cache-view="true">
	<ion-nav-title style="margin-top:10px;">
	    	  
    <center style="margin-top:10px;"> <!--<img class="home-logo" src="img/l5.png"  style="padding-left: 10px;  margin: 0 auto;  border:1px solid white;" height="50">-->
    Recent Orders
    </center>
	    </ion-nav-title>

		<ion-nav-buttons side="left">
			<button ng-click="go_back()" class="button back-button buttons button-clear header-item">
				<i class="icon ion-android-arrow-back"></i>
			</button>
		</ion-nav-buttons>
  	
    <ion-content class="has-header padding-top margin-top" style="padding-top: 5%; width: 98vw; background-color: #FFFF;">
  		<ion-list class="dark">
        <ion-item ng-repeat="orders in recent_orders_data track by $index" class="item-text-wrap"  style="padding: 2%; ">
            <div class="assertive" style="text-align: left; float: left !important; width: 100%;">{{orders.order_status}}</div>

            <div style="width: 100%;">
               <div style="float: left;">{{orders.order_date | date: medium}}</div>
               <div style="float: right;">{{orders.delivery_date | date: medium}}</div>
            </div>

              <div class="button-bar bar-dark" style="width: 100%;">
                <button ng-if="orders.status==0 || orders.status==1" ng-click="get_order_details(orders.id)" class="button button-block button-small button-assertive button-outline">{{'View'}}</button>
                <button ng-if="orders.status==0" ng-click="update_order(orders.id); $event.stopPropagation();" class="button button-block button-small button-outline button-assertive">{{'Update Order'}}</button>
                <button ng-if="orders.status==1" ng-click="open_verification_model(orders.id); $event.stopPropagation();" class="button button-small button-block button-outline button-assertive">{{'Verify Order'}}</button>
                <button ng-if="orders.status==2" ng-click="open_pdf(orders.link)" class="button button-small button-block button-outline button-assertive">{{'View Invoice'}}</button>
              </div>
        </ion-item>
  		</ion-list>
  	</ion-content>
</ion-view>
