<ion-modal-view>
  <ion-header-bar>
    <div class="buttons">
      <button class="button back-button buttons button-clear header-item button-dark" ng-click="close_search_modal()">
        <i class="icon ion-android-arrow-back"></i>
      </button>
    </div>
    <div class="title" style="text-align: center;">Search</div>

  </ion-header-bar>

  <div class="bar-subheader" style="margin-top:70px;">

    <div class="list list-inset" style="">
      <label class="item item-input">
        <i class="icon ion-search placeholder-icon"></i>
          <input type="text" placeholder="Search" ng-model="search" id='focuskaro'>
      </label>
    </div>

  </div>
  <ion-content overflow-scroll="true" padding="true" class="has-header has-subheader" style="margin-top:35px; width: 95vw;">
  

   <ion-list >
      <ion-item ng-repeat="datas in data | ItemsFilter:search" ng-click="product_name_clicked(datas.product_id)">
        {{datas.product_name}}
        <span style="float: right;"><i class="ion-arrow-right-c"></i></span>
      </ion-item>
    </ion-list>



  </ion-content>
</ion-modal-view>
