<ion-modal-view style="transform:none !important;">
  <ion-header-bar style="background-color:#cd3333; border: 1px solid #cd3333;">
    <div class="buttons">
      <button class="button back-button buttons button-clear header-item" style="margin-top:5px; color:white" ng-click="close_search_modal()">
        <i class="icon ion-android-arrow-back"></i>
      </button>
    </div>
    <div class="title light" style="text-align: center; margin-top:5px;">Search</div>

  </ion-header-bar>

  <div class="bar-subheader" style="margin-top:60px; height:55px; border-top: 0px solid #cd3333; background-color:#cd3333;">

    <div class="list list-inset" style="background-color:#cd3333;">
      <label class="item item-input">
        <i class="icon ion-search placeholder-icon"></i>
          <input type="search" placeholder="Search" ng-model="search" id='focuskaro'>
      </label>
    </div>

  </div>
  <ion-content overflow-scroll="true" padding="true" class="has-header has-subheader" style="margin-top:25px;">
  

   <ion-list style=" width: 95vw; margin:0 auto;">
      <ion-item ng-repeat="datas in data | ItemsFilter:search" ng-click="product_name_clicked(datas.product_id)">
        {{datas.product_name}}
        <span style="float: right;"><i class="ion-arrow-right-c"></i></span>
      </ion-item>
    </ion-list>



  </ion-content>
</ion-modal-view>
