<ion-view view-title="" cache-view="true">

			<ion-nav-title style="margin-left:25px;">
		    	  <img class="home-logo" src="img/l5.png"  style="margin-left: 35%; height: 80%; width:30vw; vertical-align: middle; margin: 0 auto; background-color:white;">
		    </ion-nav-title>

			<ion-nav-buttons side="left">
				<button ng-click="go_back()" class="button back-button buttons button-clear header-item">
					<i class="icon ion-android-arrow-back"></i>
				</button>
			</ion-nav-buttons>
 
  <ion-content class="has-header padding-top" style="margin-top: 2%;">
  
  <ion-list ng-if="order_verification==0">
        <ion-item  ng-repeat="orders in order_details track by $index">
              <div style="display: inline-block; width: 100%;"><b>{{orders.name}}</b></div>
              <div class="row" style="width: 100%; float: right;">
                  <div class="col">{{orders.size | number: 0}}&nbsp{{orders.product_unit}}</div>
                  <div class="col">{{'x'}}&nbsp{{orders.quantity}}</div>
                  <div class="col">{{orders.price | number: 0}}</div>  
              </div>
        </ion-item>

</ion-list>

<ion-list ng-if="order_verification==1">

  			<ion-item  ng-repeat="orders in order_details track by $index" style="height: 85%;">

            <ion-checkbox ng-model="checked_items[$index]">
              <div style="display: inline-block; text-align: center; width: 100%;"><b>{{orders.name}}</b></div>
              <div class="row" style="width: 50%; float: right;">
                <div class="col">{{orders.size | number: 0}}&nbsp{{orders.product_unit}}</div>
                <div class="col">{{'x'}}&nbsp{{orders.quantity}}</div>
                <div class="col">{{orders.price | number: 0}}</div>  
              </div>
            </ion-checkbox>
  			</ion-item>
  		</ion-list>
  </ion-content>
  <ion-footer-bar class="bar bar-dark" ng-if="checked_items.length>0">
      <div class="button-bar">
        <button class="button button-clear" ng-click="accept_order()">Accept Order</i></button>
       </div>
  </ion-footer-bar>
</ion-view>
