<ion-view cache-view="true">

			<ion-nav-title style="margin-top:10px;">

		    	 <center ng-if="order_verification==0" style="margin-top:10px;"> <!--<img class="home-logo" src="img/l5.png"  style="padding-left: 10px;  margin: 0 auto;  border:1px solid white;" height="50">-->
    Order Details
          </center>

           <center ng-if="order_verification==1" style="margin-top:10px;"> <!--<img class="home-logo" src="img/l5.png"  style="padding-left: 10px;  margin: 0 auto;  border:1px solid white;" height="50">-->
    Accept Orders
          </center>
          <center ng-if="order_verification==2" style="margin-top: 10px;">
    Order History
          </center>
            
		    </ion-nav-title>

			<ion-nav-buttons side="left">
				<button ng-click="go_back()" class="button back-button buttons button-clear header-item">
					<i class="icon ion-android-arrow-back"></i>
				</button>
			</ion-nav-buttons>
 <!-- view order -->

  <ion-content overflow-scroll-y="true" padding="true" class="has-header padding-top has-footer" style="margin-top: 2%;"> 
      <ion-list ng-if="order_verification==0">
              

              <ion-item  ng-repeat="orders in order_details track by $index" style="padding: 0; border-style: none;">
                    <div class="row">
                      <div class="col col-60">
                           <h3><b>{{orders.name}}</b></h3>
                      </div>

                    <div class="col col-25">
                        <strong>
                          <b>
                            <h4>
                              {{orders.size | number: 0}}&nbsp;{{orders.product_unit}}{{'&nbsp;x&nbsp;'+orders.quantity}}
                            </h4>
                          </b>
                        </strong>
                    </div>

                    <div class="col col-25">
                        <strong>
                          <b>
                            <h4>
                              &#8377;{{orders.total_price | number :0}}
                            </h4>
                          </b>
                        </strong>
                    </div>
                    

                    
                    </div>

                    <!-- <div class="row" style="width: 100%; float: right;">
                      <div class="col">{{orders.size | number: 0}}&nbsp{{orders.product_unit}}</div>
                      <div class="col">{{'x'}}&nbsp{{orders.quantity}}</div>
                      <div class="col">{{orders.price | number: 0}}</div>  
                    </div> -->
              </ion-item>

      </ion-list>
      
      <!-- <ion-item ng-repeat="items in selected_items" >
        <div class="row">
        
          
           <div class="col col-20">
             <strong><b><h4>{{items.product_details[0].quantity*items.product_details[0].unit.weight}}&nbsp{{items.product_details[0].unit.unit}}</h4></b></strong>
           </div>

           <div class="col col-20">
             <strong><b><h3>&#8377;&nbsp{{items.product_details[0].quantity*items.product_details[0].unit.price | number: 0}}</h3></b></strong>
           </div>
        
        </div>
      </ion-item> -->



      <ion-list ng-if="order_verification==1">
        <ion-item  ng-repeat="orders in order_details track by $index" style="display: list-item; height: 50%; padding: 0px;">
            <ion-checkbox ng-model="checked_items[$index]" style="padding: 0; padding-top: 1%; text-align: right;">
                <div style="display: inline-block; text-align: center; width: 100%; padding: 0.5px;"><b><h3><strong>{{orders.name | limitTo: 25 }}{{orders.name.length>25 ? '...' : ''}}</strong></h3></b></div>
                <div class="row" style="float: right; border-width: 1px; padding: 0.5px;">
                  <div class="col col-25"></div>
                  <div class="col col-25"><h4>{{orders.size | number: 0}}&nbsp{{orders.product_unit}}&nbsp{{'x'}}&nbsp{{orders.quantity}}</h4></div>
                  <div class="col col-25"><h4>{{orders.price | number :0}}&nbsp;{{'x'}}&nbsp;{{orders.quantity}}</h4></div>
                  <div class="col col-25"><h4>&#x20B9;{{orders.total_price | number: 0}}</h4></div>
              </div>
            </ion-checkbox>
        </ion-item>
      </ion-list>

      <ion-list ng-if="order_verification==2">

      <ion-item  ng-repeat="order_history in order_history_data track by $index" style="padding: 0; border-style: none;">
                    <div class="row">
                      <div class="col col-60">
                           <h3><b>{{order_history.name}}</b></h3>
                      </div>

                      <div class="col col-25">
                          <strong>
                            <b>
                              <h4>
                                {{order_history.size | number: 0}}&nbsp;{{order_history.product_unit}}{{'&nbsp;x&nbsp;'+order_history.quantity}}
                              </h4>
                            </b>
                          </strong>
                      </div>

                    <div class="col col-25">
                        <strong>
                          <b>
                            <h4>
                              &#8377;{{order_history.total_price | number :0}}
                            </h4>
                          </b>
                        </strong>
                    </div>

                  </div>
              </ion-item>






      </ion-list>


</ion-content>

  <ion-footer-bar class="bar bar-dark" ng-if="checked_items.indexOf(true)>=0">
      <div class="button-bar">
          <button class="button button-clear" ng-click="accept_order()">Accept Order</i></button>
       </div>
  </ion-footer-bar>
</ion-view>
