<ion-modal-view style="transform:none !important;">
  <ion-header-bar style="background-color:#cd3333; border-bottom:none;">
    <div class="buttons">
      <button class="button back-button buttons button-clear header-item button-dark" style="margin-top:5px; color:white" ng-click="close_detailed_design()">
        <i class="icon ion-android-arrow-back"></i>
      </button>
    </div>

     <div class="title light" style="text-align: center; margin-top:5px;">Selected Products</div>
  </ion-header-bar>
  <ion-content class="has-header padding-top padding-bottom" style="margin-top: 5%; margin-bottom: 15%;">
    <ion-list>
      <ion-item ng-repeat="items in selected_items" style="padding: 0; border-style: none;">
        <div class="row">
           <div class="col">
              <h3><b>{{items.product_details[0].product_name | limitTo: 20}}{{items.product_details[0].product_name.length>20 ? '...' : ''}}</b></h3>
           </div>
           <div class="col col-20">
             <strong>
             <b>
              <h4>{{items.product_details[0].quantity}} x {{items.product_details[0].unit.weight | number : 0}}&nbsp{{items.product_details[0].unit.unit}}</h4>
             </b></strong>
           </div>
           <div class="col col-20">
             <strong><b><h3>&#8377;&nbsp{{items.product_details[0].quantity*items.product_details[0].unit.price | number: 0}}</h3></b></strong>
           </div>
        </div>
      </ion-item>
    </ion-list>

  </ion-content>

      <ion-footer-bar class="bar bar-dark" ng-if="selected_items.length>0">
        <div class="button-bar">
          <button class="button button-dark" ng-click="open_shipping_address_page();">&#8377;{{total}}&nbsp;{{'Order Now'}}</button>
        </div>
      </ion-footer-bar>


</ion-modal-view>
<!--  -->