/* Empty. Add your own CSS if you like */


.spinner svg{  
  width: 19% !important;
  height: 85px !important;
}
.abc{
	background-color: white;
	text-align: center;
	color: black;
	width: 40%;
	}
.def{
	background-color: white;
	text-align: center;
	color: black;
	width: 40%;
	}	
.cell{
   width: 33%
}

